body    {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

[class*='col-'] {
    float: left;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.col-offset-0 {
    margin-left: 0;
}

.col-offset-1 {
    margin-left: 8.33%;
}

.col-offset-2 {
    margin-left: 16.66%;
}

.col-offset-3 {
    margin-left: 25%;
}

.col-offset-4 {
    margin-left: 33.33%;
}

.col-offset-5 {
    margin-left: 41.66%;
}

.col-offset-6 {
    margin-left: 50%;
}

.col-offset-7 {
    margin-left: 58.33%;
}

.col-offset-8 {
    margin-left: 66.66%;
}

.col-offset-9 {
    margin-left: 75%;
}

.col-offset-10 {
    margin-left: 83.33%;
}

.col-offset-11 {
    margin-left: 91.66%;
}

.container  {
    max-width: 1200px;
    margin: 0 auto;
}

.row::before,
.row::after {
    content: "";
    display: table;
    clear: both;
}

.nav    {
    background-color: steelblue;
    width: 100%;
    padding: 10px 0;
}

.nav ul  {
    float: right;
    margin: auto;
    margin-right: 50px;
}

.nav ul li  {
    padding: 10px 20px;
    display: inline-block;
}

.nav ul li a    {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    height: 30px;
}

.nav ul li a:hover    {
    color: gainsboro;
}

.nav img    {
    margin-left: 50px;
}

.hero   {
    background: url(https://images.unsplash.com/photo-1445914897371-974b137e4402?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=659f62b11f3833ea0fffc292f8fa7bab&auto=format&fit=crop&w=1352&q=80);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    max-height: 550px;
    background-attachment: fixed;
    background-position: center;
}

.hero h1, .hero p   {
    color: #fff;
    margin: auto;
    padding: 20px;
}

.hero p {
    font-size: 16px;
}
.content-wraper {
    height: 220px;
    width: 450px;
    margin: 180px 0 0 40%;
    background-color:rgba(70, 130, 180, 0.5);
    overflow: hidden;
}

.gallery    {
    margin:30px 0;
}

.photo  {
    float: left;
    width: 30%;
    margin-right: 5%;
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

.photo1 {
    background-image: url('https://source.unsplash.com/random/200x200');
}

.photo2 {
    background-image: url('https://source.unsplash.com/random/201x200');
}

.photo3 {
    background-image: url('https://source.unsplash.com/random/202x200');
}

.gallery .photo:last-of-type {
    margin-right: 0;
}

.map    {
    margin-bottom: 30px;
    height: 400px;
}

.map img    {
    width: 100%;
    height: 400px;
}


.footer {
    background-color: dimgray;
    text-align: center;
    bottom: 0;
    height: 50px;
}

@media(min-width: 768px) and (max-width: 1199px)    {
    .nav ul li  {
            padding: 10px 5px;
            /* display: inline-block; */
    }
    .gallery    {
       margin: 0 10%;
    }

    .photo  {
        float: left;
        width: 25vh;
        margin: 1%;
        height: 25vh;
        display: block;
    }

}


@media(max-width: 767px)    {
    
    .nav    {
        width: 100%;
        padding: 0;
    }
    
    .nav ul li {
        display: block;
    }

    .nav ul  {
        float: none;
        margin: auto;
        text-align: center;
    }

    .nav ul li a    {
        font-size: 14px;
        margin: auto;
    }

    .nav img    {
        margin-top: 5%;
        margin-left: 40%;
        align-content: center;
        width: 25%;
    }

    .photo  {
        float: none;
        width: 35vh;
        margin: 0 25%;
        margin-bottom: 5%;
        height: 35vh;
    }

    .hero h1    {
        font-size: 18px;
    }

    .hero p     {
        font-size: 14px;
    }

    .content-wraper {
        height: 50%;
        width: 50%;
        margin: 20% auto;
        background-color:rgba(70, 130, 180, 0.5);
        overflow: hidden;
    }

    .map    {
        margin: 0;
        height: 50%;
    }

    .footer {
        font-size: 12px;
        height: 10%;
        margin: 0;
    }
}

