nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1px;
}

a {
  background-color: black;
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  
}

.down li  {
  display: grid;
  text-decoration-line: none;
  display: none;
}

nav a:hover .down ul li {
  display: block;
}

