body  {
  padding-top: 50px;
}

.jumbotron  {
  padding: 50px 30px;
}

.table  {
  margin-top: 30px;
  text-align: center;
}

table thead tr th {
  text-align: center;
}

form    {
  margin-bottom: 20%;
}

#subject    {
  width: 30%;
}

#email  {
  width: 30%;
}

#InputMessage   {
  width: 50%;
}

.gallery2 {
  margin: 30px -15px;
}

.media  {
  margin: 50px 0;
}

.card-body  {
  margin: 20px 0;
}

.contact button {
  margin-top: -20px;
}